<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>@ViewBag.Title Fuzzy Monk-Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fuzzy Monk - Blog">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/social_foundicons_ie7.css">
    <![endif]-->
    <!-- CSS -->
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-theme.css")
    @Styles.Render("~/Content/css/style.css")
    
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/social_foundicons.css")
    @Styles.Render("~/Content/css/shortcodes.css")
    @Styles.Render("~/Content/css/socialcount.min.css")
    @Styles.Render("~/Content/css/prettyPhoto.css")
    @Styles.Render("~/Content/css/animate.css")
    

    @Styles.Render("~/Content/css/social_foundicons.css")
    @Styles.Render("~/Content/css/shortcodes.css")
    @Styles.Render("~/Content/css/socialcount.min.css")
    @Styles.Render("~/Content/css/prettyPhoto.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Scripts/ckeditor/contents.css")

    
    @Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700")


</head>
<body>
    <div class="boxed">
        <header>
            <!-- HEADER-->
            <!-- HEADER CONTAINER -->
            <div class="header-top-wrap">
                <div class="container">

                    <!-- LOGO -->
                    <div class="logo">
                        <h1>Fuzzy Monk</h1>
                    </div> <!-- LOGO END -->
                    <!-- MAIN NAVIGATION -->
                    <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>

                    <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul>
                            @if (Session["userid"] != null)
                            {
                                <li>
                                    <a href="">@Session["name"]</a>
                                    <ul>
                                        <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                                        
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Articles", "Index", "Admin")</li>
                            }
                            else{
                            
                            <li>
                                <a href="">Hello Guest</a>
                                <ul>
                                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                                    <li>@Html.ActionLink("Registration", "Register", "User")</li>
                                </ul>
                            </li>}
                            
                            
                            @*<li>@Html.ActionLink("Blog", "Index", "Home")</li>*@

                            <li>@Html.ActionLink("Blog", "Index", "Home")</li>
                           @* <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            @*<li>
                                <a href="">New User</a>
                                <ul>
                                    <li><a href="">Registration</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Username</a>
                                <ul>
                                    <li><a href="">Logout</a></li>
                                </ul>
                            </li>
                            <li class="current_page_item"><a href="blog.html">Blog</a></li>*@
                        </ul>
                    </nav>
                    <!-- MAIN NAVIGATION END -->


                </div>
            </div>
            <div class="header-bottom-wrap container">

                <div class="header-title">
                    <h3>@ViewBag.Breadcrumb</h3>
                </div>

            </div>

            <div class="header-line"></div>
            <!-- HEADER CONTAINER END -->


        </header> <!-- HEADER END -->
        <!-- CONTENT -->

        <div id="content">
            @RenderBody()
        </div>

            <footer class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <span class="copyrights">&copy; Copyright 2015 by <a href="#">Fuzzy Monk</a>. All rights reserved </span>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    @Scripts.Render("~/Scripts/jquery-2.1.3.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Content/js/custom.js")
    @Scripts.Render("~/Content/js/jquery-scrolltofixed-min.js")
    @Scripts.Render("~/Content/js/jquery.flexisel.js")
    @Scripts.Render("~/Content/js/jquery.fitvids.js")
    @Scripts.Render("~/Content/js/jquery.jplayer.min.js")
    @Scripts.Render("~/Content/js/jquery.isotope.min.js")
    @Scripts.Render("~/Content/js/jquery.prettyPhoto.js")
    @Scripts.Render("~/Content/js/jquery.flexslider-min.js")
    @Scripts.Render("~/Content/js/respond.min.js")
    @Scripts.Render("~/Content/js/retina.js")
    @Scripts.Render("~/Content/js/waypoints.min.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    <script>
        function myFunction() {
            var pass1 = document.getElementById("password").value;
            var pass2 = document.getElementById("confirm").value;
            if (pass1 != pass2) {
                alert("Passwords Do not match");

            }
            else {
                alert("Passwords Match!!!");

            }
        }
    </script>


</body>
</html>


